@using SEDC.PizzaApp.Models.ViewModels
@model OrderDetailsViewModel

<h2>Order details: </h2>

<ul>
    <li>PizzaName: @Model.PizzaName</li>
    <li>Price: @Model.Price</li>
    <li>PaymentMethod: @Model.PaymentMethod</li>
    <li>UserFullName: @Model.UserFullName</li>
    <li>UserAddress: @Model.UserAddress</li>
</ul>

